.carousel{
    width:60%;
    margin: 10px 50px;
}
.carouselItem{
    text-align: center;
    margin: 10px, 10px 20px 10px;
}
.carouselImg{
    height: 100%;
}

.button {

    color: rgba(227,174,38,1);
    color: -moz-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,174,38,1)), color-stop(100%, rgba(238,242,123,1)));
    color: -webkit-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: -o-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: -ms-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: linear-gradient(to bottom, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ae26', endColorstr='#eef27b', GradientType=0);

    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(48,48,48,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#303030', GradientType=1 );
    outline:none;
    border:none;
    height: 60px;
    width: 100%;
    margin: 25px 0px;
}

.button:hover {
    color: yellow;
    background: linear-gradient(135deg, rgba(48,48,48,1) 0%, rgba(0,0,0,1)  100%);
    font-size: 16px;


}

.caja {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 30px 30px;
    width: 25%;
    justify-content: start;

}

.container {
    width: 100%;
    display: flex;
}

.stock {
    font-size: 15px;
    margin: 0%;
}
.garantia {
    margin: 0%;
}


.r {
    font-size: 22px;
}

.cajaPrice {
    display: flex;
    margin: 20px 10px;
    align-items: baseline;
}

.ars {
    margin: 0px;
    font-size: 10px;
}

