@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.contenedor{
    max-width: 800px;
    margin:150px auto;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
}

.inputPassword{
    width: 60%;
    margin:0 auto;
    border:none;
    outline: none;
}

.inputPassword:focus{
    box-shadow: none;
    border:none;
}

.redMuted{
    color:red !important;
}

.formInput{
    margin: 20px 0px
}

.titlePasRes{
    text-align: center;
    font-weight: 800 !important;
    font-family: 'Montserrat', sans-serif;
}